page-about {
    .niy {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .niy>img {
        width: 100%;
    }
}