page-login {
    .scroll-content {
        overflow: hidden;
    }
    .spacer {
        flex: 1;
    }
    .box {
        min-height: 100%;
        display: flex;
    }
    .box>img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .content {
        position: relative;
        overflow: hidden;
    }
    .padding {
        padding: 16px;
    }
    ion-row {
        padding: 16px;
        padding-bottom: 0;
    }
    .transparency {
        background-color: rgba(250, 250, 250, 1);
    }
    .back {
        position: absolute;
        right: 8px;
        bottom: 8px;
        z-index: 99;
    }
    .validate {
        min-width: 100px;
    }
    .alert {
        color: #f44336;
    }
}