<!--
  Generated template for the GalleryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Article Details</ion-title>
    </ion-navbar>
</ion-header>


<!--
  Generated template for the GalleryArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

    <!--    Article owner details   -->
    <ion-item class="no-padding" no-lines (click)="contact()">
        <ion-avatar item-start>
            <img src="{{ article.user && article.user.picture ? (basePicturesApi + article.user.picture.public_path) : ('assets/imgs/addef.jpg') }}">
        </ion-avatar>
        <div class="flex-box-text">
            <h2>{{ article.user ? article.user.name : '' }}</h2>
        </div>
    </ion-item>

    <!--    Article details -->
    <div class="padding">
        <p class="bigger" style="white-space: pre-line;"><strong>{{ article.name }} - Ref: {{ article.id }}</strong></p>
        <p class="dense" style="white-space: pre-line;">{{ article.description }} <br><sub>({{ article.size_width }} cm * {{ article.size_height }} cm * {{ article.size_depth }} cm - {{ article.weight }} kg)</sub></p>
        <p class="bigger fix-right-marge" style="text-align:right"><strong>{{ article.price }} Euros</strong></p>
    </div>

    <!--    Article pictures gallery    -->
    <div class="gallery-wrapper">
        <div class="gallery-box">
            <div class="gallery-item" *ngFor="let picture of picturesForLoop; let index = index" [ngStyle]="{ 'background-image': 'url(' + picture + ')', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': '50% 50%' }" (click)="detail(index)">
            </div>
            <!--    If there is more than 8 pictures, diplay another button to see additionnal pictures -->
            <div *ngIf="morePicture" class="gallery-item gallery-item-more" (click)="detail(0)">
            </div>
        </div>
    </div>

    <!--    Article additionnal details -->
    <div class="padding">
        <div class="flex-box">
            <ion-badge>{{ category }}</ion-badge>
            <ion-badge>{{ style }}</ion-badge>
            <ion-badge>{{ period }}</ion-badge>
            <ion-badge>{{ designer }}</ion-badge>
            <ion-badge>{{ brand }}</ion-badge>
            <ion-badge>{{ material }}</ion-badge>
            <ion-badge>{{ color }}</ion-badge>
            <ion-badge>{{ condition }}</ion-badge>
        </div>
    </div>

</ion-content>