page-article-preview {
    .gallery-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding-left: auto;
        padding-right: auto;
    }
    .gallery-item {
        width: 31vw;
        height: 31vw;
        border: solid 1px white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery-item>img {
        object-fit: cover;
    }
    .gallery-item-more {
        background-image: url(/assets/imgs/more.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .marged {
        margin: 4px;
    }
}