<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <!--    Show gallery size   -->
        <!--    pageOptions keep track of the gallery size   -->
        <ion-buttons left>
            <strong>{{ pageOptions?.count }}</strong>
            <span>posts</span>
        </ion-buttons>
        <ion-title>Gallery</ion-title>
        <!--    Toggle the gallery diplay mode  -->
        <ion-buttons right>
            <button ion-button (click)="changeGalleryMode()">
                <ion-icon name="{{ mode$|async }}"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <!--    Permit to reload gallery from page 1    -->
    <ion-refresher (ionRefresh)="reload($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- List Mode -->
    <ion-list *ngIf="(mode$|async) === 'apps'">
        <!--    Push clicked article detail page    -->
        <ion-item *ngFor="let article of articles" (click)="details(article)">
            <ion-thumbnail item-start>
                <img src="{{ article.principale }}">
            </ion-thumbnail>
            <h2 style="white-space: pre-line;">{{ article.name }}</h2>
            <p>Price: {{ article.price }} Euros</p>
            <ion-icon name="arrow-forward" item-end></ion-icon>
        </ion-item>
    </ion-list>

    <!-- Thumbnail Mode -->
    <div *ngIf="(mode$|async) === 'list'" class="flex-box">
        <div class="flex-item" *ngFor="let article of articles">
            <!--    Push clicked article detail page    -->
            <img src="{{ article.principale }}" (click)="details(article)">
        </div>
    </div>

    <!--    If pageOptions didn't load all server side articles, load the next page -->
    <ion-infinite-scroll *ngIf="pageOptions?.miss > 0" (ionInfinite)="nextPage($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>