<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Gallery</ion-title>
        <ion-buttons right>
            <button ion-button (click)="changeGalleryMode()">
                <ion-icon name="{{ mode$|async }}"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="reload($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- List Mode -->
    <!--ion-list *ngIf="(mode$|async) === 'apps'">

        <ng-container *ngFor="let article of articles">
            <div class="padding-border">
                <ion-item no-lines>
                    <ion-avatar item-start>
                        <img src="{{ article.user && article.user.picture ? (basePicturesApi + article.user.picture.public_path) : ('assets/imgs/addef.jpg') }}">
                    </ion-avatar>
                    <div class="flex-box-text">
                        <h2>{{ article.user ? article.user.name : 'Authentic Design' }}</h2>
                        <a (click)="contact(article)">Contact</a>
                    </div>
                </ion-item>

                <img src="{{  article.principale }}" (click)="details(article)">

                <ion-item no-lines>
                    <p style="white-space: pre-line;">{{ article.name }}</p>
                </ion-item>
                <ion-item no-lines>
                    <div class="flex-box2">
                        <p>Ref: {{ article.id }}</p>
                        <span class="flex-spacer"></span>
                        <p>{{ article.price }} Euros</p>
                        <span class="flex-spacer"></span>
                        <a (click)="details(article)">View</a>
                    </div>
                </ion-item>

                <hr>
            </div>
        </ng-container>

    </ion-list-->

    <ion-list *ngIf="(mode$|async) === 'apps'">
        <ion-item *ngFor="let article of articles" (click)="details(article)">
            <ion-thumbnail item-start>
                <img src="{{ article.principale }}">
            </ion-thumbnail>
            <h2 style="white-space: pre-line;">{{ article.name }}</h2>
            <p>Price: {{ article.price }} Euros</p>
            <ion-icon name="arrow-forward" item-end></ion-icon>
            <!--ion-icon name="time" item-end (click)="details(article)"></ion-icon-->
            <!--button ion-button clear item-end (click)="details(article, i)">View</button-->
        </ion-item>
    </ion-list>

    <!-- Thumbnail Mode -->
    <div *ngIf="(mode$|async) === 'list'" class="flex-box">
        <div class="flex-item" *ngFor="let article of articles">
            <img src="{{ article.principale }}" (click)="details(article)">
        </div>
    </div>

    <ion-infinite-scroll *ngIf="pageOptions.miss > 0" (ionInfinite)="nextPage($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>