page-gallery {
    .flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-box>* {
        width: 31%;
    }
    .flex-item>img {
        width: 100%;
    }
}