page-gallery {
    .flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-box>* {
        width: calc(33vw - 4px);
        border: solid 1px white;
    }
    .flex-item>img {
        width: 100%;
    }
}