<!--
  Generated template for the StockDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--ion-header>

    <ion-navbar>
        <ion-title>stock-detail</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>{{ article.name }}</h2>
    <div class="flex-box">
        <div class="flex-item">
            <img src="{{ article.principale }}">
        </div>
    </div>

    <ion-list>
        <ion-label> Marketplaces </ion-label>

        <ion-item no-lines *ngFor="let mkChannel of mkChannels">
            <h3 item-start class="clear">{{ mkChannel.ch.name }}</h3>
            <p item-start>{{ mkChannel.status }}</p>
            <ion-toggle item-end [disabled]="alreadySold" checked="false" (ionChange)="handlePublicationOn(mkChannel)"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-label> Authentic Design </ion-label>

        <ion-item no-lines *ngFor="let feChannel of feChannels">
            <ion-label item-start>
                {{ feChannel.ch.name }}
            </ion-label>
            <h2 item-end>{{ feChannel.status }}</h2>
            <ion-toggle item-end checked="false" (ionChange)="handlePublicationOn(feChannel)"></ion-toggle>
        </ion-item>
    </ion-list>

</ion-content-->


<ion-header>

    <ion-navbar>
        <ion-title>stock-detail</ion-title>
    </ion-navbar>

</ion-header>


<!--
          Generated template for the GalleryArticlePage page.
        
          See http://ionicframework.com/docs/components/#navigation for more info on
          Ionic pages and navigation.
        -->

<ion-content>

    <ion-item class="no-padding" no-lines>
        <ion-avatar item-start>
            <img src="{{ article.principale }}">
        </ion-avatar>
        <div class="flex-box-text">
            <h2 style="white-space: pre-line;">{{ article.name }}<span class="grey"> - Ref: {{ article.id }}</span></h2>
        </div>
    </ion-item>

    <div class="padding">
        <ion-item-divider color="light">Marketplaces</ion-item-divider>
        <ion-row *ngFor="let channel of mkChannels">
            <ion-col class="pad">
                <p style="white-space: pre-line;">{{ channel.name }}</p>
            </ion-col>
            <ion-col class="flexitude-center">
                <p class="dense grey" style="white-space: pre-line;">{{ getStatus(channel.name)?.name }}</p>
            </ion-col>
            <ion-col class="flexitude" (click)="register(channel)">
                <ion-toggle disabled="{{ getStatus(channel.name)?.disabled || false }}" checked="{{ getStatus(channel.name)?.checked || false }}"></ion-toggle>
            </ion-col>
        </ion-row>
        <ion-item-divider class="second" color="light">Authentic Design</ion-item-divider>
        <ion-row *ngFor="let channel of feChannels">
            <ion-col class="pad">
                <p style="white-space: pre-line;">{{ channel.name }}</p>
            </ion-col>
            <ion-col class="flexitude-center">
                <p class="dense grey" style="white-space: pre-line;">{{ getStatus(channel.name)?.name }}</p>
            </ion-col>
            <ion-col class="flexitude" (click)="register(channel)">
                <ion-toggle disabled="{{ getStatus(channel.name)?.disabled || false }}" checked="{{ getStatus(channel.name)?.checked || false }}"></ion-toggle>
            </ion-col>
        </ion-row>
    </div>

    <div class="validate-box">
        <button class="validate" ion-button raised (click)="sold()" disabled>Sold</button>
    </div>

</ion-content>