page-stock-detail {
    .bigger {
        font-size: 1.6rem;
        margin-bottom: 8px !important;
        margin-top: 0 !important;
    }
    .no-padding {
        padding-left: 0;
    }
    .flex-box-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .flex-box-text>a {
        margin-left: auto;
        margin-bottom: 5px;
    }
    .flex-box {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .flex-box>* {
        margin: 2px;
        margin-left: 0;
        margin-right: 4px;
    }
    .padding>ion-row {
        border-bottom: 1px solid grey !important;
    }
    .no-padding {
        margin-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .flexitude {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .flexitude-center {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .grey {
        color: grey;
    }
    ion-avatar img {
        width: 100% !important;
        height: 100% !important;
        min-width: 80px !important; //any size
        max-width: 80px !important; //any size
        max-height: 80px !important; //any size
    }
    .validate-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .validate {
        width: 80%;
    }
    .accent {
        width: 80%;
        background-color: #f44336!important;
    }
    .warn {
        width: 80%;
        background-color: #f44336!important;
    }
    .second {
        margin-top: 16px;
    }
    .pad {
        padding-left: 16px;
    }
    ion-toggle {
        z-index: -99;
    }
}