page-new-description-article {
    .actions {
        margin-top: 64px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .marged {
        margin: 4px;
        flex: 1;
    }
    .spacer {
        flex: 1;
    }
    .accent {
        background-color: #f44336!important;
    }
}

.failure-toast {
    >div {
        background-color: #f44336!important;
    }
}