page-a-ccount {
    .myheader {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 30vh;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 40px;
    }
    .item-text {
        max-width: 200px;
    }
    .primary-color {
        color: white;
        background-color: #00aed8;
    }
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 20vh;
        justify-content: flex-start;
        align-items: center;
    }
    .footer>p {
        text-align: center;
        max-width: 70%;
    }
    .avatar {
        border: solid 4px #cce6ff;
        margin: auto;
        width: 90px !important;
        height: 90px !important;
    }
    .wrap-avatar {
        margin: auto;
    }
    .light-blue {
        color: #cce6ff;
    }
    .mk-pres {
        padding-left: 0 !important;
        border-bottom: 0.55px solid #c8c7cc !important;
    }
    .wrap-mk-pres {
        padding-left: 20px;
    }
    ion-list {
        margin-bottom: 0 !important;
    }
    .button {
        border: solid 1px white;
        border-radius: 16px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button>ion-icon {
        margin-right: 8px;
        font-size: 2em;
    }
    .actions {
        min-width: 60%;
        padding: 20px;
        padding-bottom: 0;
        display: flex;
        justify-content: space-around;
    }
    .actions>.icon {
        padding: 20px;
        font-size: 2em;
    }
    .grey {
        color: #BDBDBD;
    }
}