page-home {
    ion-content {
        overflow: hidden;
    }
    .flex-box {
        padding-top: 16px;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    .actions {
        margin-top: auto;
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a+a {
        margin-right: 20px !important;
        margin-left: auto !important;
    }
    a {
        margin-left: 20px !important;
        margin-right: auto !important;
        width: 100px;
    }
}