page-home {
    ion-content {
        overflow: hidden;
    }
    .flex-box {
        min-height: 100%;
        width: 100%;
        background-image: url('/assets/imgs/logo-home.png');
        background-size: cover;
        display: flex;
    }
    .actions {
        margin-top: auto;
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    a+a {
        margin-right: 20px !important;
        margin-left: auto !important;
    }
    a {
        margin-left: 20px !important;
        margin-right: auto !important;
        width: 100px;
    }
}