page-home {
    ion-content {
        overflow: hidden;
    }
    .flex-box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/assets/imgs/niy.jpg);
        background-size: cover;
    }
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
    }
}