page-new-pricing-article {
    .actions {
        margin-top: auto;
    }
    .marged {
        margin: 4px;
    }
    .spacer {
        flex: 1;
    }
    .accent {
        background-color: #f44336!important;
    }
}

.failure-toast {
    >div {
        background-color: #f44336!important;
    }
}