page-new-pricing-article {
    .action {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .actions {
        margin-top: 64px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .marged {
        margin: 4px;
        flex: 1;
    }
    .spacer {
        flex: 1;
    }
    .accent {
        background-color: #f44336!important;
    }
    .select {
        background-color: #00aed8!important;
        color: white!important;
    }
}

.failure-toast {
    >div {
        background-color: #f44336!important;
    }
}