page-add {
    .box-col {
        display: flex;
        flex-direction: column;
    }
    .box-row {
        display: flex;
    }
    .error {
        border: solid 2px#f44336;
    }
    .not-to-much {
        max-height: 70vh;
        overflow: auto;
    }
}