<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <slides-navigator [steps]="steps" [stepNo]="step" (upEvent)="stepUp()" (downEvent)="stepDown()" (gotoEvent)="gotoStep($event)"></slides-navigator>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list #step0 *ngIf="step === 0">
        <ion-list-header>Article Cover</ion-list-header>
        <ion-item>
            <ion-label>Name <span [ngStyle]="{'color': article.name ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input [(ngModel)]="article.name"></ion-input>
        </ion-item>
        <ion-item-divider>{{ (pictures$|async)?.length }} Pictures</ion-item-divider>
        <ion-item class="error" *ngFor="let error of errors$|async; let index = index" (click)="removeError(index)">
            <p item-start style="white-space: pre-line;">{{ error }}</p>
            <button item-end ion-icon-button><ion-icon name="close"></ion-icon></button>
        </ion-item>
        <ion-item (click)="takeLoop()">
            <button ion-icon-button>
                <ion-icon name="camera"></ion-icon>Add a Picture
            </button>
        </ion-item>
        <ion-item *ngFor="let picture of pictures$|async; let index = index">
            <ion-thumbnail item-start>
                <img src="{{ picture }}">
            </ion-thumbnail>
            <ion-icon item-start *ngIf="checked === index" name="star"></ion-icon>
            <ion-icon item-end name="remove" (click)="remove(index)"></ion-icon>
        </ion-item>
        <ion-item>
            <button ion-button (click)="saveDraft()">Save Draft</button>
        </ion-item>
    </ion-list>

    <ion-list #step1 *ngIf="step === 1">
        <ion-list-header>Article Infos</ion-list-header>
        <ion-item-divider>Identification</ion-item-divider>
        <ion-item>
            <ion-label>Description <span [ngStyle]="{'color': article.description ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-textarea [(ngModel)]="article.description"></ion-textarea>
        </ion-item>
        <ion-item-divider>Dimention</ion-item-divider>
        <ion-item>
            <ion-label>Height - cm <span [ngStyle]="{'color': article.size_height ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="article.size_height"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Width - cm <span [ngStyle]="{'color': article.size_width ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="article.size_width"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Depth - cm <span [ngStyle]="{'color': article.size_depth ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="article.size_depth"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Weight - kg <span [ngStyle]="{'color': article.weight ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="article.weight"></ion-input>
        </ion-item>
        <ion-item-divider>Pricing - €</ion-item-divider>
        <ion-item>
            <ion-label>Quantity <span [ngStyle]="{'color': article.quantity ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="article.quantity"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Price <span [ngStyle]="{'color': article.price ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="article.price"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Price by <span [ngStyle]="{'color': article.price_by ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button (click)="saveDraft()">Save Draft</button>
        </ion-item>
    </ion-list>

    <ion-list #step2 *ngIf="step === 2">
        <ion-list-header>Transport</ion-list-header>
        <ion-item>
            <ion-label>Location <span [ngStyle]="{'color': article.address_id ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Number of packs <span [ngStyle]="{'color': article.number_of_packs ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="article.number_of_packs"></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button (click)="saveDraft()">Save Draft</button>
        </ion-item>
    </ion-list>

    <ion-list #step3 *ngIf="step === 3">
        <ion-list-header>Article Qualification</ion-list-header>

        <ion-item>
            <ion-label>Category <span [ngStyle]="{'color': article.category_id ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-searchbar (focus)="setFocus('categories')" (input)="getItems('categories', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'categories'">
            <ion-item-divider>Categories</ion-item-divider>
            <ion-item *ngFor="let category of items$|async">
                {{ category?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <ion-label>Style <span [ngStyle]="{'color': article.style_id ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-searchbar (focus)="setFocus('styles')" (input)="getItems('styles', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'styles'">
            <ion-item-divider>Styles</ion-item-divider>
            <ion-item *ngFor="let style of items$|async">
                {{ style?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <ion-label>Period <span [ngStyle]="{'color': article.periods_id ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-searchbar (focus)="setFocus('periods')" (input)="getItems('periods', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'periods'">
            <ion-item-divider>Periods</ion-item-divider>
            <ion-item *ngFor="let periods of items$|async">
                {{ periods?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <ion-label>Condition <span [ngStyle]="{'color': article.condition_id ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-searchbar (focus)="setFocus('conditions')" (input)="getItems('conditions', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'conditions'">
            <ion-item-divider>Conditions</ion-item-divider>
            <ion-item *ngFor="let condition of items$|async">
                {{ condition?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <ion-label>Material <span [ngStyle]="{'color': article.material_id ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-searchbar (focus)="setFocus('materials')" (input)="getItems('materials', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'materials'">
            <ion-item-divider>Materials</ion-item-divider>
            <ion-item *ngFor="let material of items$|async">
                {{ material?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <ion-label>Color <span [ngStyle]="{'color': article.color_id ? '#00aed8' : '#f44336'}">*</span></ion-label>
            <ion-searchbar (focus)="setFocus('colors')" (input)="getItems('colors', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'colors'">
            <ion-item-divider>Colors</ion-item-divider>
            <ion-item *ngFor="let color of items$|async">
                {{ color?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <ion-label>Designer</ion-label>
            <ion-searchbar (focus)="setFocus('designers')" (input)="getItems('designers', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'designers'">
            <ion-item-divider>Designers</ion-item-divider>
            <ion-item *ngFor="let designer of items$|async">
                {{ designer?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <ion-label>Brand</ion-label>
            <ion-searchbar (focus)="setFocus('brands')" (input)="getItems('brands', $event)"></ion-searchbar>
        </ion-item>
        <ng-container *ngIf="focus === 'brands'">
            <ion-item-divider>Brands</ion-item-divider>
            <ion-item *ngFor="let brand of items$|async">
                {{ brand?.name }}
            </ion-item>
        </ng-container>

        <ion-item>
            <button ion-button (click)="saveDraft()">Save Draft</button>
        </ion-item>

    </ion-list>

    <ion-list #step3 *ngIf="step === 4">
        <ion-list-header>Resume</ion-list-header>
        <ion-item>
            <button ion-button (click)="save()">Save</button>
        </ion-item>
    </ion-list>


</ion-content>