page-add {
    .full {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .actions {
        margin-top: auto;
        display: flex;
        justify-content: center;
    }
    .box-col {
        display: flex;
        flex-direction: column;
    }
    .box-row {
        display: flex;
    }
    .forbuttons {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .error {
        border: solid 2px #f44336;
    }
    .not-to-much {
        max-height: 30vh;
        overflow: auto;
        direction: rtl;
        filter: sepia(0.2);
    }
    .not-to-much-inner {
        direction: ltr;
    }
    .spacer {
        flex: 1;
    }
    .selected {
        color: #00aed8;
    }
    .autocomp {
        color: #00aed8;
    }
    .label {
        display: flex;
    }
    .gallery-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding-left: auto;
        padding-right: auto;
    }
    .gallery-item {
        width: 30vw;
        height: 30vw;
        border: solid 1px white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery-item>img {
        object-fit: cover;
    }
    .gallery-item-more {
        background-image: url(../assets/imgs/more.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .marged {
        margin: 4px;
        flex: 1;
    }
    .accent {
        background-color: #f44336!important;
    }
    .select {
        background-color: #00aed8!important;
        color: white!important;
    }
}

.success-toast {
    >div {
        background-color: #00aed8!important;
    }
}

.failure-toast {
    >div {
        background-color: #f44336!important;
    }
}