pictures-loop {
    .big-box {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    ion-list {
        margin-top: auto;
    }
}