page-login-modal {
    .spacer {
        flex: 1;
    }
    .cloth {
        width: 100%;
    }
    .content {
        position: relative;
        overflow: hidden;
    }
    .padding {
        padding: 16px;
    }
    ion-row {
        padding: 16px;
        padding-bottom: 0;
    }
    .transparency {
        background-color: rgba(250, 250, 250, 1);
    }
    .back {
        position: absolute;
        right: 8px;
        bottom: 8px;
        z-index: 99;
    }
    .validate {
        min-width: 100px;
    }
}