<!-- Generated template for the SlidesNavigatorComponent component -->
<div class="navigator">
    <ng-container *ngFor="let step of steps; let index = index">

    </ng-container>
    <ion-card class="navigator" [class.active]="stepNo === index" [ngStyle]="{'color': step.color}" (click)="goto(index)">
        <ion-icon name="{{ step?.icon }}"></ion-icon>
    </ion-card>
    <ion-icon name="arrow-forward"></ion-icon>
</div>
<div class="circle-base type1"></div>
<div class="circle-base type2"></div>
<div class="circle-base type3"></div>