slides-navigator {
    .navigator {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigator>* {
        margin: 8px;
    }
    .active {
        border: solid 1px #00aed8;
    }
}