<!-- Generated template for the SlidesNavigatorComponent component -->

<div class="navigator">
    <div class="test"></div>
    <ng-container *ngFor="let step of steps; let index = index">
        <!--ion-icon *ngIf="index" name="arrow-forward"></ion-icon-->
        <span *ngIf="!index" class="spacer"></span>
        <div class="circle-base type2" [class.incomplete]="!step.isCompleted" [class.complete]="step.isCompleted" [class.active]="stepNo === index" (click)="goto(index)">
            <ion-icon name="{{ step?.icon }}"></ion-icon>
        </div>
        <span class="spacer"></span>
    </ng-container>
</div>

<!--ion-card class="navigator" [class.active]="stepNo === index" [ngStyle]="{'color': step.color}" (click)="goto(index)">
    <ion-icon name="{{ step?.icon }}"></ion-icon>
</ion-card>
<div class="circle-base type1"></div>
<div class="circle-base type2"></div>
<div class="circle-base type3"></div-->