slides-navigator {
    .navigator {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigator>* {
        margin: 8px;
    }
    .active {
        border: solid 5px #00aed8;
    }
    .test {
        z-index: 50;
        position: absolute;
        top: 50%;
        left: 0;
        border-top: solid 2px #00aed8;
        width: calc(100% - 64px);
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 0;
        margin-bottom: 0;
    }
    ion-icon {
        z-index: 60;
    }
    .spacer {
        flex: 1;
    }
}

.circle-base {
    z-index: 60;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.complete {
    border: 3px solid #00aed8;
    background-color: #b3e5fc
}

.incomplete {
    border: 3px solid #f44336;
}

.type2 {}