<!--
  Generated template for the StockPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons left>
            <strong>{{ pageOptions?.count }}</strong>
            <span>posts</span>
        </ion-buttons>
        <ion-title>Stock</ion-title>
        <ion-buttons right>
            <button ion-button (click)="changeGalleryMode()">
                <ion-icon name="{{ mode$|async }}"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="reload($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- List Mode -->
    <!--ion-list *ngIf="(mode$|async) === 'apps'">
        <div class="test-row" *ngFor="let article of articles; let index = index" [ngStyle]="styles[index].contain">

            <ion-item class="test-item" no-lines [ngStyle]="styles[index].one" (touchstart)="touchstart($event, article, index)" (touchcancel)="touchcancel($event, article, index)" (touchend)="touchend($event, article, index)" (touchmove)="touchmove($event, article, index)">
                <ion-thumbnail item-start>
                    <img src="{{ article.principale }}">
                </ion-thumbnail>
                <h2 style="white-space: pre-line;">{{ article.name }}<span class="grey"> - Ref: {{ article.id }}</span></h2>
                <p>Price: {{ article.price }} Euros</p>
                <ion-icon item-end name="arrow-forward"></ion-icon>
            </ion-item>
            <div class="test-item accent" [ngStyle]="styles[index].two">
                <ion-icon class="managed" name="trash" (click)="deleteHook(article)"></ion-icon>
            </div>
            <div class="test-item primary" [ngStyle]="styles[index].three">
                <ion-icon class="managed" name="settings" (click)="modifyHook(article)"></ion-icon>
            </div>

        </div>
    </ion-list-->

    <!-- List Mode -->
    <ion-list *ngIf="(mode$|async) === 'apps'">
        <ion-item-sliding *ngFor="let article of articles; let index = index">
            <ion-item (click)="details(article, index)">
                <ion-thumbnail item-start>
                    <img src="{{ article.principale }}">
                </ion-thumbnail>
                <h2 style="white-space: pre-line;">{{ article.name }}<span class="grey"> - Ref: {{ article.id }}</span></h2>
                <p>Price: {{ article.price }} Euros</p>
                <ion-icon item-end name="arrow-forward"></ion-icon>
            </ion-item>
            <ion-item-options>
                <button ion-button (click)="deleteHook(article)" class="accent"><ion-icon name="trash"></ion-icon>Delete</button>
                <button ion-button (click)="modifyHook(article)" class="primary"><ion-icon name="settings"></ion-icon>Modify</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--div class="test-row" *ngFor="let article of articles; let index = index" [ngStyle]="styles[index].contain">

            <ion-item class="test-item" no-lines [ngStyle]="styles[index].one" (touchstart)="touchstart($event, article, index)" (touchcancel)="touchcancel($event, article, index)" (touchend)="touchend($event, article, index)" (touchmove)="touchmove($event, article, index)">
                <ion-thumbnail item-start>
                    <img src="{{ article.principale }}">
                </ion-thumbnail>
                <h2 style="white-space: pre-line;">{{ article.name }}<span class="grey"> - Ref: {{ article.id }}</span></h2>
                <p>Price: {{ article.price }} Euros</p>
                <ion-icon item-end name="arrow-forward"></ion-icon>
            </ion-item>
            <div class="test-item accent" [ngStyle]="styles[index].two">
                <ion-icon class="managed" name="trash" (click)="deleteHook(article)"></ion-icon>
            </div>
            <div class="test-item primary" [ngStyle]="styles[index].three">
                <ion-icon class="managed" name="settings" (click)="modifyHook(article)"></ion-icon>
            </div>

        </div>
    </ion-list-->

    <!-- Thumbnail Mode -->
    <div *ngIf="(mode$|async) === 'list'" class="flex-box">
        <div class="flex-item" *ngFor="let article of articles; let index = index">
            <img src="{{ article.principale }}" (click)="details(article, index)">
        </div>
    </div>

    <ion-infinite-scroll *ngIf="pageOptions?.miss > 0 && articles" (ionInfinite)="nextPage($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>