page-stock {
    .flex-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-box>* {
        width: 31%;
    }
    .flex-item>img {
        width: 100%;
    }
    .grey {
        color: grey;
    }
    .primary {
        color: #00aed8;
    }
    .accent {
        color: #f44336
    }
    .manager {
        width: 100%;
        display: flex;
    }
    .spacer {
        flex: 1;
    }
}